.siteForm {
    position: relative;
    width: 100%;
    align-items: center;
    height: 360px;

}

.formAddProduct {
    width: 80%;
    position: absolute;
    margin-left: calc(10% - 50px);
    background-color: rgb(236, 231, 231);
    padding: 50px;
    border: 1px solid black;


}

.elementForm {
    display: flex;
}

.elementForm {
    height: 70px;
    margin-left: 20px;
    border: 0px;
}

.elementForm input {
    background-color: rgb(181, 178, 178);
    margin-left: 20px;
    height: 45px;
    width: 60%;
    font-size: 18px;
    border: 1px solid rgb(179, 172, 172);
    border-radius: 5px;
    font-weight: 700;
    color: white;

}

.elementForm label {

    width: 150px;
}

.buttonSubmit {
    font-size: 18px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: calc(50% - 75px);
    font-weight: 700;
    color: white;
    background-color: rgb(99, 97, 97);
    border: 1px solid rgb(179, 172, 172);

}

.elementForm p {
    color: rgb(12, 12, 12);
    height: 45px;
    font-size: 20px;
    font-weight: 700;

}