<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .imga {
        height: 1419px;
        width: 100%;
        /* Chiều cao sẽ tự động điều chỉnh để giữ tỷ lệ khung hình */
        background-image: url('./../../assets/list_prices.png');
        /* Phủ toàn bộ phần tử */
        background-repeat: no-repeat;
        /* Không lặp lại hình ảnh */
    }

    .index-price {
        width: 100%;
        height: 1419px;
    }
</style>

<body>
    <!-- <div class="index-price">
        <div class="imga"></div>
    </div> -->
    <script>


        var arr = [1, 2, 3, 4];
        var arrCopy = arr;
        arr.push(4);
        console.log(arrCopy.length);

    </script>
</body>

</html>