.bookingStie {
    position: relative;
    height: 100vh;
    /* Sử dụng chiều cao của toàn bộ màn hình */
    overflow: hidden;
    /* Ẩn phần dư thừa ngoài khung */
}

.bookingStie .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Đảm bảo hình ảnh luôn đầy đủ và không bị kéo dãn */
    opacity: 0;
    /* Ban đầu ẩn các ảnh */
    transition: opacity 1s ease-in-out;
    /* Hiệu ứng chuyển đổi mượt mà */
}

.bookingStie .img.active {
    opacity: 1;
    /* Hiển thị ảnh hiện tại */
}

.overlay {
    position: absolute;
    top: 50%;
    /* Đẩy lên vị trí giữa theo chiều dọc */
    left: 50%;
    /* Đẩy về giữa theo chiều ngang */
    transform: translate(-50%, -50%);
    /* Đưa văn bản vào chính giữa */
    font-family: 'Rye vh';
    /* Font chữ */
    color: white;
    /* Màu chữ */
    text-transform: uppercase;
    /* Chữ in hoa */
    font-size: 3rem;
    /* Kích thước font */
    background-color: rgba(216, 220, 235, 0.5);
    /* Màu nền với độ trong suốt */
    padding: 0;
    width: 300px;
    height: 60px;
    padding: 1rem;
    /* Khoảng cách lề nội dung */
    z-index: 2;
    /* Layer stacking */
}

.text {
    position: absolute;
    top: 50%;
    /* Đẩy lên vị trí giữa theo chiều dọc */
    left: 50%;
    /* Đẩy về giữa theo chiều ngang */
    transform: translate(-50%, -50%);
    /* Đưa văn bản vào chính giữa */
    font-size: 3rem;
    /* Kích thước font */
    text-align: center;
    /* Căn giữa nội dung */
    /* padding: 1rem; */
    padding: 0;
    /* Khoảng cách lề nội dung */
    background-color: rgba(255, 255, 255, 0.5);
    /* Màu nền với độ trong suốt */
    z-index: 2;
    /* Layer stacking */
}