.siteForm {
    position: relative;
    height: 800px;
    width: 80%;
    margin-left: 0;
    align-items: center;

}

.formAddProduct {
    width: 100%;
    position: absolute;
    margin-left: 10%;
    border: 2px solid black;
    padding: 20px;
    background-color: rgb(223, 211, 211);

}

.elementForm {
    display: flex;
}

.elementForm {
    height: 70px;
    margin-left: 15%;
    border: 0px;
}

.elementForm input {
    background-color: rgb(179, 159, 159);
    margin-left: 20px;
    height: 45px;
    width: 400px;
    font-size: 18px;
    border-radius: 10px 10px;
    border: 1px solid rgb(179, 172, 172);
    font-weight: 700;
    color: rgb(24, 20, 20);

}

.elementForm label {

    width: 150px;
}

.buttonSubmit {
    font-size: 18px;
    width: 150px;
    height: 50px;
    margin-top: 40px;
    margin-left: calc(50% - 75px);
    font-weight: 700;
    color: white;
    background-color: rgb(99, 97, 97);
    border: 1px solid rgb(179, 172, 172);

}

.elementForm p {
    color: rgb(19, 18, 18);
    background-color: rgb(219, 211, 211);
    height: 45px;
    font-size: 20px;
    font-weight: 700;

}

.selectTypeProduct {
    margin-left: 20px;
    height: 45px;
    color: rgb(17, 16, 16);
    background-color: rgb(179, 159, 159);
    font-size: 18px;
    font-weight: 700;
}