.siteForm {
    position: relative;
    height: 700px;
    width: 60%;
    margin-left: 20%;
    align-items: center;

}

.formAddProduct {
    width: 50%;
    position: absolute;
    height: 700px;
    margin-left: 25%;
    background-color: black;

}

.elementForm {
    display: flex;
}

.elementForm {
    height: 70px;
    margin-left: 15%;
    border: 0px;
}

.elementForm input {
    background-color: rgb(48, 46, 46);
    margin-left: 20px;
    height: 45px;
    width: 400px;
    font-size: 18px;
    border: 1px solid rgb(179, 172, 172);
    font-weight: 700;
    color: white;

}

.elementForm label {

    width: 150px;
}

.buttonSubmit {
    font-size: 18px;
    width: 150px;
    height: 30px;
    margin-top: 40px;
    margin-left: calc(50% - 75px);
    font-weight: 700;
    color: white;
    background-color: rgb(99, 97, 97);
    border: 1px solid rgb(179, 172, 172);

}

.elementForm p {
    color: rgb(219, 214, 214);
    background-color: rgb(19, 14, 14);
    height: 45px;
    font-size: 20px;
    font-weight: 700;

}

.selectTypeProduct {
    margin-left: 20px;
    height: 45px;
    color: white;
    background-color: rgb(19, 14, 14);
    font-size: 18px;
    font-weight: 700;
}