.indexFooter {
    padding: 10px;
    height: 390px;
    background-color: black;
}

.logo {
    text-align: center;
    width: 100%;
}

.logo img {
    text-align: center;
    width: 80px;
    height: auto;
}

.mainFooter {
    width: 60%;
    height: 230px;
    margin-left: 20%;

}

.redirect {
    width: 25%;
    height: 230px;
    float: left;
}

.sreach {
    width: 25%;
    height: 230px;
    float: left;
}

.getLetter {
    width: 25%;
    height: 230px;
    float: left;
}

.social {
    width: 25%;
    height: 230px;
    float: left;
}

.redirect ul {
    list-style-type: none;
}

.redirect p {
    color: aliceblue;
    font-size: 18px;
    font-style: none;
}

.text1 {
    color: aliceblue;
    font-size: 15px;

}

input {
    width: 280px;
    height: 40px;
    background-color: rgb(80, 78, 78);
    border: 1px solid black;
}

input::placeholder {
    font-size: 15px;
    color: white;
}

button {
    float: right;
    margin-right: 90px;
    margin-top: 10px;
    font-size: 15px;
    color: aliceblue;
    background-color: rgb(80, 78, 78);
    border: 1px solid black;
    padding: 10px;
}

.text p {
    text-align: center;
    color: aliceblue;
    font-size: 15px;
}

.iconSocial {
    width: 90px;
    float: left;
}